*,
*::before,
*::after {
    box-sizing: unset;
    margin: 0;
}

#main {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif !important;
}


/* header */

#header {
    height: 100px;
    margin-left: 230px;
    margin-top: 30px;
    margin-bottom: 15px;
}

#header .header_logo {
    display: inline-block;
    height: 100%;
}

#header .header_logo img.auburn_logo {
    max-width: 100%;
    max-height: 100%;
}

#header .header_title {
    font-size: 20px;
    width: 60%;
    padding-left: 50px;
    padding-bottom: 30px;
    align-items: center;
    color: #7A7A7A;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    -webkit-user-select: none;
}

#header .header_title :first-child {
    font-size: 30px;
}

#header .header_title p {
    white-space: nowrap !important;
    margin: 0 !important;
}


/* navigation menu */

#nav_menu.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: #17406a;
    justify-content: center;
}

#nav_menu.flex-container>.nav_link {
    width: 100px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition: 0.2s;
    min-width: 70px;
    line-height: 20px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 13px;
}

#nav_menu.flex-container>.nav_link:hover {
    background-color: #3d5c7a;
}

#nav_menu.flex-container>.nav_link.activeTab {
    background-color: #3d5c7a;
    font-size: bold;
    text-decoration: underline;
}


/* about */

#about_content {
    width: 100%;
    color: #707070;
    margin-top: 40px;
    margin-bottom: 100px;
}

#about_content .content {
    width: 50%;
    margin: auto;
    white-space: nowrap;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#about_content .content #introduction_info {
    display: flex;
    flex-direction: column;
}

#about_content .content #introduction_info #profile_img {
    border: 1px solid black;
    width: 150px;
    height: 200px;
    line-height: 200px;
    margin: 0 40px 50px 0;
    text-align: center;
    background-image: url("../img/seals_cheryl.png");
}

#about_content .content #introduction_info #contacts {
    display: inline-block;
    border: 1px solid #707070;
    width: 150px;
    height: 250px;
    background-color: #de8d3a;
    line-height: 16px;
    color: #ffffff;
    font-size: 11px;
    padding: 70px 10px 15px 10px;
    margin-right: 40px;
    white-space: normal;
    text-align: left;
}

#about_content .content #contacts #con_title {
    font-size: 14px;
    line-height: 16px;
}

#about_content .content #contacts a {
    color: #707070;
}

#about_content .content #introduction_bio {
    background-color: #f0f0f0;
    padding: 30px;
    display: inline-block;
    white-space: normal;
    text-align: left;
    width: 80%;
    font-size: 14px;
    vertical-align: top;
}

#about_content .content #introduction_bio>p {
    font-size: 16px;
}

#about_content .education {
    background-color: #f0f0f0;
    width: 100%;
    height: 200px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

#about_content .education #edu_title {
    font-size: 16px;
    margin-bottom: 20px;
    padding-top: 20px;
}


/* teaching */

#main #teaching_content {
    display: flex;
    flex-direction: row;
}

#main #teaching_content #teachingLSB {
    min-width: 180px;
    margin-left: 13%;
    background-color: #acacac;
    border-left: 1px solid #414042;
    border-right: 1px solid #414042;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 5px;
    transition: 0.3s;
    height: 100vh;
    white-space: nowrap;
    max-width: 0;
    display: flex;
    flex-direction: column;
}

#main #teaching_content #teachingLSB .tlsbTitle {
    margin: 20px 0 5px 25px;
    font-size: 18px;
    color: #FEFEFE;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 35px;
}

#main #teaching_content #teachingLSB .tlsbSection {
    display: inline-block;
    padding: 0 25px;
    margin: 5px 0 5px 0;
    font-size: 12px;
    color: #FEFEFE;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 45px;
    line-height: 45px;
    cursor: pointer;
    transition: 0.3s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#main #teaching_content #teachingLSB .tlsbSection:hover {
    background-color: #d1d1d1;
}

#main #teaching_content #teachingLSB .tlsbSection .active {
    background-color: #d1d1d1;
    font-weight: bold;
}

#main #teaching_content .content {
    padding-top: 5px;
    transition: 0.3s;
    height: 100vh;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    color: #707070;
    width: 75%;
}

#main #teaching_content .content .classSection {
    display: flex;
    flex-direction: column;
    padding: 20px 250px 20px 30px;
    margin-bottom: 10px;
    min-height: 140px;
    border-bottom: 1px solid #414042;
}

#main #teaching_content .content .classSection .classTitle {
    font-size: 18px;
    margin-bottom: 10px;
}

#main #teaching_content .content .classSection .classInfo {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

#main #teaching_content .content .classSection .classInfo .infoDetail {
    font-size: 13px;
    line-height: 20px;
    padding-bottom: 10px;
    white-space: normal;
}

#main #teaching_content .content .classSection .classInfo .infoDetail#semester {
    font-weight: bold;
}

#main #teaching_content .content .classSection .classInfo .infoDetail#class {
    padding: 0 0 10px 20px;
}


/* Students */

#main #students_content .content {
    padding-top: 30px;
    transition: 0.3s;
    height: 100vh;
    width: 60%;
    margin: auto;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    color: #707070;
}

#main #students_content .content .studentGrid {
    margin: 0px 15px 15px;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: minmax(60px, 1fr);
}

#main #students_content .content .studentType {
    margin: 30px 0;
}

#main #students_content .content .studentGrid .student {
    z-index: 9;
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px 0px;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 35px;
    background-color: white;
    cursor: pointer;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
    max-height: 250px;
    text-align: center;
    margin-bottom: 60px;
}

#main #students_content .content .studentGrid .student:hover {
    background-color: #FAFAFA;
}

#main #students_content .content .studentGrid .student .headshot {
    margin: 20px 20px 15px 20px;
    border: 1px solid #B0B0B0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 60%;
    width: 80%;
}

#main #students_content .content .studentGrid .student .headshot>img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#main #students_content .content .studentGrid .student .studentProfile {
    display: flex;
    flex-direction: row;
    padding: 0px 20px;
}

#main #students_content .content .studentGrid .student .studentProfile .studentInfo {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    width: 90%;
    text-align: left;
}

#main #students_content .content .studentGrid .student .studentProfile .studentInfo .studentDetail {
    font-size: 10px;
    padding-bottom: 5px;
}

#main #students_content .content .studentList {
    margin-bottom: 60px;
}

#main #students_content .content .studentList .studentHeader {
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 13px;
    width: 100%;
    border-top: 1px solid #e6e6e6;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    background-color: #f5f5f5 !important;
    color: #58595b;
    transition: .3s;
    cursor: pointer;
    position: relative;
}

#main #students_content .content .studentList .studentHeader .name,
#main #students_content .content .studentList .studentRow .name {
    flex-wrap: wrap;
    width: 45%;
    text-align: left;
    overflow: hidden;
}

#main #students_content .content .studentList .studentHeader .year,
#main #students_content .content .studentList .studentRow .year {
    flex-wrap: wrap;
    width: 20%;
    text-align: left;
    overflow: hidden;
}

#main #students_content .content .studentList .studentHeader .position,
#main #students_content .content .studentList .studentRow .position {
    flex-wrap: wrap;
    width: 25%;
    text-align: left;
    overflow: hidden;
}

#main #students_content .content .studentList .studentHeader .website,
#main #students_content .content .studentList .studentRow .website {
    flex-wrap: wrap;
    width: 10%;
    text-align: center;
    overflow: hidden;
}

#main #students_content .content .studentList .studentRow {
    height: 60px;
    background-color: white;
    width: auto;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255) rgb(255, 255, 255) rgb(228, 228, 229);
    border-image: initial;
    background-size: 35px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

#main #students_content .content .studentList .studentRow:hover {
    background-color: #FAFAFA;
}


/* Involvement */

#main #involvement_content .content {
    padding-top: 30px;
    transition: 0.3s;
    height: 100vh;
    width: 60%;
    margin: auto;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    color: #707070;
}

#main #involvement_content .content .involvementItem {
    border: 1px solid #707070;
    white-space: normal;
    display: flex;
    flex-direction: row;
    max-height: 200px;
    text-overflow: ellipsis;
}

#main #involvement_content .content .involvementItem .involvementItemLeftText,
#main #involvement_content .content .involvementItem .involvementItemRightText {
    padding: 20px;
    width: 75%;
    display: inline-block;
}

#main #involvement_content .content .involvementItem .involvementItemLeftText .eventTitle,
#main #involvement_content .content .involvementItem .involvementItemRightText .eventTitle {
    font-size: 18px;
    margin-bottom: 20px;
}

#main #involvement_content .content .involvementItem .involvementItemLeftText .eventDesc,
#main #involvement_content .content .involvementItem .involvementItemRightText .eventDesc {
    font-size: 13px;
}

#main #involvement_content .content .involvementItem .involvementItemRightImg {
    border-left: 1px solid #707070;
    background-color: #f5f5f5;
    width: 25%;
    display: inline-block;
}

#main #involvement_content .content .involvementItem .involvementItemRightImg .eventImg {
    width: 100%;
    height: 100%;
    text-align: center;
}

#main #involvement_content .content .involvementItem .involvementItemLeftImg {
    border-right: 1px solid #707070;
    background-color: #f5f5f5;
    width: 25%;
    display: inline-block;
}

#main #involvement_content .content .involvementItem .involvementItemLeftImg .eventImg {
    width: 100%;
    height: 100%;
    text-align: center;
}

#main #involvement_content .content #externalPages #externalPagesTitle {
    font-size: 18px;
    margin-bottom: 20px;
}

#main #involvement_content .content #externalPages #externalLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#main #involvement_content .content #externalPages #externalLinks>* {
    margin: 0 50px;
}

#main #involvement_content .content #externalPages #externalLinks>a {
    target-name: new;
    target-new: tab;
}

#main #involvement_content .divider {
    width: 100vw;
    margin-left: -33.33%;
}


/* Project */

#main #projects_content {
    width: 70%;
    margin: auto;
    padding-top: 30px;
}

#main #projects_content #myCarousel {
    width: 100%;
    height: 450px;
    border: 1px solid #707070;
}

#main #projects_content #myCarousel .carousel-indicators {
    top: 45%;
    left: 85%;
    cursor: pointer;
    height: 10%;
    width: 10%;
    margin: 0;
}

#main #projects_content #myCarousel .carousel-indicators .active {
    width: 8px;
    height: 8px;
    background-color: #303030;
    margin: 2px;
}

#main #projects_content #myCarousel .carousel-indicators li {
    width: 8px;
    height: 8px;
    background-color: #808080;
    border: 1px solid #808080;
    margin: 2px;
}

#main #projects_content #myCarousel .carousel-inner,
#main #projects_content #myCarousel .carousel-inner .item {
    height: 100%;
}

#main #projects_content #myCarousel .carousel-inner .item>img {
    height: 100%;
    width: 100%;
}

#main #projects_content #myCarousel .carousel-inner .carousel-caption {
    height: 50%;
    top: 50%;
    width: 100%;
    color: #707070;
    text-shadow: none;
    background-color: white;
    left: 0 !important;
    text-align: left;
    text-overflow: ellipsis;
    padding: 20px 80px !important;
}

#main #projects_content #myCarousel .carousel-control {
    background-image: none !important;
    color: #707070;
    font-size: 30px;
    opacity: 1 !important;
}

#main #projects_content #myCarousel .carousel-control:hover {
    color: #B0B0B0;
    text-decoration: none;
    outline: 0;
    filter: alpha(opacity=90);
    opacity: 1 !important;
}

.icon-prev,
.icon-next,
.glyphicon-triangle-left,
.glyphicon-triangle-right {
    position: absolute !important;
    top: 50% !important;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}

.icon-prev,
.glyphicon-triangle-left {
    left: 10%;
    margin-left: -10px;
}

.icon-next,
.glyphicon-triangle-right {
    right: 10%;
    margin-right: -10px;
}

@media screen and (min-width: @screen-sm-min) {
    // Scale up the controls a smidge
    .carousel-control {
        .glyphicon-triangle-left,
        .glyphicon-triangle-right,
        .icon-prev,
        .icon-next {
            width: (@carousel-control-font-size * 1.5);
            height: (@carousel-control-font-size * 1.5);
            margin-top: (@carousel-control-font-size / -2);
            font-size: (@carousel-control-font-size * 1.5);
        }
        .glyphicon-triangle-left,
        .icon-prev {
            margin-left: (@carousel-control-font-size / -2);
        }
        .glyphicon-triangle-right,
        .icon-next {
            margin-right: (@carousel-control-font-size / -2);
        }
    }
}


/* Publications */

#main #publications_content #searchbar {
    padding: 4em 25%;
}

#main #publications_content #publicationsList {
    padding: 4em 15%;
    margin-bottom: 40px;
}

#main #publications_content #searchbar input {
    width: 80%;
    float: left;
    border-radius: 4px 0 0 4px;
}

#main #publications_content #searchbar button {
    float: left;
    height: 34px;
    width: 20%;
    padding: 10px;
    background: #de8d3a;
    color: white;
    font-size: 15px;
    line-height: 15px;
    border: 1px solid grey;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

#main #publications_content #searchbar button:hover {
    background: #fa9e42;
}


/* Clear floats */

#main #publications_content #searchbar::after {
    content: "";
    clear: both;
    display: table;
}

#main #publications_content #publicationsList .pubItems {
    margin: 0px 100px;
    display: grid;
    gap: 25px;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: minmax(60px, 1fr); */
}

#main #publications_content #publicationsList .pubItems .item {
    color: #7A7A7A;
    z-index: 9;
    height: 280px;
    width: 100%;
    padding: 35px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px 0px;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 35px;
    background-color: white;
    cursor: pointer;
    vertical-align: middle;
    white-space: normal;
    text-overflow: ellipsis;
    max-width: 1100px;
    max-height: 150px;
    line-height: 20px;
    text-align: left;
}

.divider {
    border-bottom: 1px solid #4d4d4f;
    width: 100%;
    margin: 50px 0;
}